<!DOCTYPE html>
<html x-data="{colorMode: localStorage.getItem('colorMode') || localStorage.setItem('colorMode', 'light')}"
  x-init="$watch('colorMode', val => localStorage.setItem('colorMode', val))"
  x-bind:class="{'dark': colorMode === 'dark' || (colorMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}"
  class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gophemeral</title>
  <meta name="description" content="" />
  <link rel="icon" type="image/x-icon"
    href="https://ik.imagekit.io/n0uvizrukm2/websites/chai-cloud/Vector__2__H9Chm1ngK.svg">
  <meta property="og:title" content="home - Gophemeral" />
  <meta property="og:image" content="" />

  <link id="heading-font" rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&display=swap" media="all" />
  <link rel="stylesheet" href="static/min.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/htmx.org@1.9.3"
    integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <!-- AlpineJS Library -->
  <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
      tailwind.config = {
          darkMode: 'class'
      }

      document.addEventListener('DOMContentLoaded', () => {
          if (localStorage.getItem('darkMode') === 'enabled') {
              document.documentElement.classList.add('dark');
          }
      });

      function toggleDarkMode() {
          const htmlElement = document.documentElement;
          const slider = document.getElementById('slider-thumb');
          if (htmlElement.classList.contains('dark')) {
              htmlElement.classList.remove('dark');
              localStorage.setItem('darkMode', 'enabled');
          } else {
              htmlElement.classList.add('dark');
              localStorage.setItem('darkMode', 'disabled');
          }
      }
  </script>
  <!--script src="./htmx.min.js"></script-->
</head>

<body class="font-body antialiased text-[#41454c] bg-[#fcfcfc] dark:text-[#ffffff] dark:bg-[#031022]">
  <div
    class="mt-6 dark:flex dark: dark:flex-wrap dark:justify-center dark:gap-x-[15%] flex flex-wrap justify-center gap-x-[15%]">
    <!-- Dark Mode Toggle with Animated Slider -->
    <div class="absolute top-4 right-4 flex items-center">
        <label class="relative inline-flex items-center cursor-pointer">
            <input type="checkbox" class="sr-only peer" onclick="toggleDarkMode()">
            <div class="w-12 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 
                        dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 
                        after:content-[''] after:absolute after:top-0.5 after:left-[2px] 
                        after:bg-white after:border after:rounded-full after:h-5 after:w-5 
                        after:transition-all after:duration-300 peer-checked:after:translate-x-6 
                        peer-checked:bg-blue-500 dark:peer-checked:bg-blue-400" id="slider-thumb">
            </div>
        </label>
    </div>
    <div class="">
      <div class="px-4 py-16 sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto sm:max-w-md">
          <h1 class="text-3xl font-bold text-center text-primary-500">Create Secret</h1>
          <form class="mt-6 mb-0 space-y-4 rounded-lg shadow-2xl dark:shadow-slate-800 p-[55px]"
            hx-post="/hx/createSecret" hx-trigger="submit" hx-target="body" hx-swap="beforeend" hx-ext="json-enc">
            <form class="flex flex-col gap-y-3">
              <div class=""><label class="text-sm font-medium">
                  <p class="">Secret Text</p>
                </label>
                <div class="relative mt-1"><input type="text" id="text" name="text"
                    class="w-full p-3 text-sm shadow-sm border border-gray-200 rounded-global dark:bg-slate-900 dark:border-gray-700" /><span
                    class="absolute inset-y-0 inline-flex items-center right-4"></span></div>
              </div>
              <div class=""><label class="text-sm font-medium">
                  <p class="">Views</p>
                </label>
                <div class="relative mt-1"><input type="number" id="views" name="views"
                    class="w-full p-3 text-sm shadow-sm border border-gray-200 rounded-global dark:bg-slate-900 dark:border-gray-700" /><span
                    class="absolute inset-y-0 inline-flex items-center right-4"></span></div>
              </div><button
                class="block w-full px-5 py-3 text-sm font-medium text-white bg-primary-500 rounded-global mt-3 hover:bg-primary-700"
                type="submit">Create</button>
            </form>
          </form>
        </div>
      </div>
    </div>
    <div class="">
      <div class="px-4 py-16 sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto sm:max-w-md">
          <h1 class="text-3xl font-bold text-center text-primary-500">Lookup Secret</h1>
          <form class="mt-6 mb-0 space-y-4 rounded-lg shadow-2xl dark:shadow-slate-800 p-[55px]"
            hx-post="/hx/lookupSecret" hx-trigger="submit" hx-target="body" hx-swap="beforeend">
            <form class="flex flex-col gap-y-3">
              <div class=""><label class="text-sm font-medium">
                  <p class="">Secret ID</p>
                </label>
                <div class="relative mt-1"><input type="text" id="id" name="id"
                    class="w-full p-3 text-sm shadow-sm border border-gray-200 rounded-global dark:bg-slate-900 dark:border-gray-700" /><span
                    class="absolute inset-y-0 inline-flex items-center right-4"></span></div>
              </div>
              <div class=""><label class="">
                  <p class="">Password</p>
                </label>
                <div class="relative mt-1"><input type="password" id="password" name="password"
                    class="w-full p-3 text-sm shadow-sm border border-gray-200 rounded-global dark:bg-slate-900 dark:border-gray-700" /><span
                    class="absolute inset-y-0 inline-flex items-center right-4"></span></div>
              </div><button
                class="block w-full px-5 py-3 text-sm font-medium text-white bg-primary-500 rounded-global mt-3 hover:bg-primary-700"
                type="submit">Lookup</button>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="dark:flex dark: dark:flex-wrap dark:justify-center dark:gap-x-[15%] flex flex-wrap justify-center gap-x-[15%]">
    <div class>
      <div class="my-6 mx-6 flex dark:flex dark:items-center items-center text-center max-w-lg">
        <p>Gophemeral is a temporary secret sharing tool. You can input a string and a number of views and Gophemeral
          will keep the string secret until the number of views runs out. Secrets must be 200 characters or less.
          Secrets will be deleted after 7 days.</p>
      </div>
    </div>
  </div>

  <script>
    const params = new URLSearchParams(window.location.search);
    if (params.get("id")) {
      document.getElementById("id").value = params.get("id");
    }
  </script>

</body>

</html>
